    <div class= "one"> 

        <img src= "assets/Angewandte_Informatik_Bachelor.jpg" alt = "image didnt show"/>
        <div class="overImage">
            <p  class="mat-h1"> <span class = "highlight" > {{"header-img-title-1" | translate}}</span>  {{"header-img-title-2" | translate}}<span class = "highlight">{{"header-img-title-3" | translate}}</span> {{"header-img-title-4" | translate}}</p>
        </div>

    </div>
   
    <div class="two"> 
        <p class="mat-display-1" fxLayoutAlign="center">{{"header" | translate}}</p>
        <p class="mat-subheading-2" fxLayoutAlign="center">{{"header2" | translate}}</p>
    </div>


     
    
