
    
<div class = "six"  >   
    
    


       <div fxLayout = "row" fxLayoutAlign="center">
            <mat-card class = "card"  fxFlex= "390px" >  
                <img mat-card-image class= "img" src="assets/knowledge-exchange.jpg">
                <mat-card-title> {{"home1" | translate}}  </mat-card-title>
                <mat-card-content>{{"home1-1" | translate}} </mat-card-content>
                <mat-card-actions align ="end">  
                    <button mat-raised-button color ="accent" >  {{"home-button" | translate}}  </button>    
                </mat-card-actions>
            </mat-card>

            <mat-card class = "card"  fxFlex= "390px" >  
                <img mat-card-image class= "img" src="assets/teaching.jpg">
                <mat-card-title>  {{"home2" | translate}} </mat-card-title>
                <mat-card-content> {{"home2-2" | translate}}</mat-card-content>
                <mat-card-actions align ="end">  
                    <button mat-raised-button color ="accent" >  {{"home-button" | translate}}  </button>    
                </mat-card-actions>
            </mat-card>

            <mat-card class = "card"  fxFlex= "390px" >  
                <img mat-card-image class= "img" src="assets/startup.jpg">
                <mat-card-title>  {{"home3" | translate}} </mat-card-title>
                <mat-card-content> {{"home3-3" | translate}}</mat-card-content>
                <mat-card-actions align ="end">  
                    <button mat-raised-button color ="accent" >  {{"home-button" | translate}}  </button>    
                </mat-card-actions>
            </mat-card>
       </div>

    <div fxLayout = "row" fxLayoutAlign="center">
        <mat-card class = "card"  fxLayout = "column" fxFlex= "390px">  
            <img mat-card-image class= "img" src="assets/international.jpg">
            <mat-card-title>  {{"home4" | translate}} </mat-card-title>
            <mat-card-content> {{"home4-4" | translate}}</mat-card-content>
            <mat-card-actions align ="end">  
                <button mat-raised-button color ="accent" >  {{"home-button" | translate}}  </button>    
            </mat-card-actions>
        </mat-card>
    
        <mat-card class = "card"  fxFlex= "390px">  
            <img mat-card-image class= "img" src="assets/research.png">
            <mat-card-title>  {{"home5" | translate}} </mat-card-title>
            <mat-card-content> {{"home5-5" | translate}}</mat-card-content>
            <mat-card-actions align ="end">  
                <button mat-raised-button color ="accent" > {{"home-button" | translate}}  </button>    
            </mat-card-actions>
        </mat-card>
    
        <mat-card class = "card"  fxFlex= "390px">  
            <img mat-card-image class= "img" src="assets/culture.jpg">
            <mat-card-title>  {{"home6" | translate}} </mat-card-title>
            <mat-card-content> {{"home6-6" | translate}}</mat-card-content>
            <mat-card-actions align ="end">  
                <button mat-raised-button color ="accent" >  {{"home-button" | translate}}  </button>    
            </mat-card-actions>
        </mat-card>
    </div>
    <div fxLayout = "row" fxLayoutAlign="center">
        <mat-card class = "card"  fxLayout = "column" fxFlex= "390px">  
            <img mat-card-image class= "img" src="assets/corona.jpg">
            <mat-card-title>  {{"home7" | translate}} </mat-card-title>
            <mat-card-content> {{"home7-7" | translate}}</mat-card-content>
            <mat-card-actions align ="end">  
                <button mat-raised-button color ="accent" >  {{"home-button" | translate}}  </button>    
            </mat-card-actions>
        </mat-card>
    
        <mat-card class = "card"  fxFlex= "390px">  
            <img mat-card-image class= "img" src="assets/studies.jpg">
            <mat-card-title>  {{"home8" | translate}} </mat-card-title>
            <mat-card-content> {{"home8-8" | translate}}</mat-card-content>
            <mat-card-actions align ="end">  
                <button mat-raised-button color ="accent" >  {{"home-button" | translate}}  </button>    
            </mat-card-actions>
        </mat-card>
    
        <mat-card class = "card"  fxFlex= "390px">  
            <img mat-card-image class= "img" src="assets/career.png">
            <mat-card-title>  {{"home9" | translate}}  </mat-card-title>
            <mat-card-content> {{"home9-9" | translate}}</mat-card-content>
            <mat-card-actions align ="end">  
                <button mat-raised-button color ="accent" >  {{"home-button" | translate}}  </button>    
            </mat-card-actions>
        </mat-card>
    </div>
</div>
        
        










