
<section>
    
    <div class= "center" >
        <p class="mat-display-1">{{"event-header" | translate}}</p>
        <mat-accordion >
            <mat-expansion-panel >
                <mat-expansion-panel-header [collapsedHeight]="'100px'">
                    <mat-panel-title class = "mat-h1"> 18-02-2021</mat-panel-title>
                    <mat-panel-description fxLayoutAlign="center"> {{"events1" | translate}}  </mat-panel-description>
                    <mat-panel-description fxLayoutAlign="end"><mat-icon> location_on</mat-icon> {{"event-virt" | translate}}<mat-icon> schedule</mat-icon>09:00- 17:00 <mat-icon> public</mat-icon> {{"event-lang-ger" | translate}}</mat-panel-description>
                </mat-expansion-panel-header>
                <p> {{"events1-1" | translate}}</p>
            </mat-expansion-panel>
            <mat-expansion-panel >
                <mat-expansion-panel-header [collapsedHeight]="'100px'">
                    <mat-panel-title class = "mat-h1"> 21-02-2021</mat-panel-title>
                    <mat-panel-description fxLayoutAlign="center"> {{"events2" | translate}} </mat-panel-description>
                    <mat-panel-description fxLayoutAlign="end"><mat-icon> location_on</mat-icon> {{"event-virt" | translate}}<mat-icon> schedule</mat-icon>18:00 -20:00 <mat-icon> public</mat-icon> {{"event-lang-ger" | translate}}</mat-panel-description>
                </mat-expansion-panel-header>
                <p> {{"events2-2" | translate}}</p>
            </mat-expansion-panel>
            <mat-expansion-panel >
                <mat-expansion-panel-header [collapsedHeight]="'100px'">
                    <mat-panel-title class = "mat-h1"> 22-02-2021</mat-panel-title>
                    <mat-panel-description fxLayoutAlign="center"> {{"events3" | translate}} </mat-panel-description>
                    <mat-panel-description fxLayoutAlign="end"><mat-icon> location_on</mat-icon> {{"event-virt" | translate}}<mat-icon> schedule</mat-icon>16:00-17:00 <mat-icon> public</mat-icon> {{"event-lang-eng" | translate}}</mat-panel-description>
                </mat-expansion-panel-header>
                    <p> {{"events3-3" | translate}}</p>
            </mat-expansion-panel>
            <mat-expansion-panel >
                <mat-expansion-panel-header [collapsedHeight]="'100px'">
                    <mat-panel-title class = "mat-h1"> 22-02-2021</mat-panel-title>
                    <mat-panel-description fxLayoutAlign="center"> {{"events4" | translate}}  </mat-panel-description>
                    <mat-panel-description fxLayoutAlign="end"><mat-icon> location_on</mat-icon> {{"event-pres" | translate}}<mat-icon> schedule</mat-icon>10:00-18:00 <mat-icon> public</mat-icon> {{"event-lang-ger" | translate}}</mat-panel-description>
                </mat-expansion-panel-header>
                <p> {{"events4-4" | translate}}</p>
            </mat-expansion-panel>
            <mat-expansion-panel >
                <mat-expansion-panel-header [collapsedHeight]="'100px'">
                    <mat-panel-title class = "mat-h1"> 25-02-2021</mat-panel-title>
                    <mat-panel-description fxLayoutAlign="center"> {{"events5" | translate}}  </mat-panel-description>
                    <mat-panel-description fxLayoutAlign="end"><mat-icon> location_on</mat-icon> {{"event-virt" | translate}}<mat-icon> schedule</mat-icon>18:00-19:30 <mat-icon> public</mat-icon> {{"event-lang-ger" | translate}}</mat-panel-description>
                </mat-expansion-panel-header>
                <p> {{"events5-5" | translate}}</p>
            </mat-expansion-panel>
            <mat-expansion-panel >
                <mat-expansion-panel-header [collapsedHeight]="'100px'">
                    <mat-panel-title class = "mat-h1"> 27-02-2021</mat-panel-title>
                    <mat-panel-description fxLayoutAlign="center"> {{"events6" | translate}}  </mat-panel-description>
                    <mat-panel-description fxLayoutAlign="end"><mat-icon> location_on</mat-icon> {{"event-pres" | translate}}<mat-icon> schedule</mat-icon>10:00-16:00 <mat-icon> public</mat-icon> {{"event-lang-ger" | translate}}</mat-panel-description>
                </mat-expansion-panel-header>
                <p> {{"events6-6" | translate}}</p>
            </mat-expansion-panel>
        
        </mat-accordion>
    </div>

</section>
