 .six {
    background-color: white;
    height: 643px;
    margin-left: 5%;
    margin-right: 5%;
  }


  
  

  /* active tab */
  ::ng-deep.mat-tab-list .mat-tab-labels .mat-tab-label {
  color:white;
  background-color: #009fe3;
  }
  
 
  
  
    