
<div class = "six">  
    <mat-tab-group  [color]="'warn'" > 
        <mat-tab  label ="{{'info-page-label-1' | translate}}"><app-mensa></app-mensa></mat-tab>
        <mat-tab label="{{'info-page-label-2' | translate}}"> <app-lectures-plan></app-lectures-plan> </mat-tab>
        <mat-tab label="{{'info-page-label-3' | translate}}"> <app-free-room></app-free-room> </mat-tab>
        <mat-tab label ="{{'info-page-label-4' | translate}}"><app-exams></app-exams></mat-tab>
    </mat-tab-group>                  
</div>







