<div class="center">
    <p class="mat-display-1"> {{"news-header" | translate}}</p>
    <mat-card  class= "card" fxLayout = "row"  fxLayoutAlign="start start" fxLayoutGap="30px">  
        <mat-card-content > <img mat-card-image fxFlex="227px"  src="assets/NeuerProfessor.jpg"> </mat-card-content>
        <div>
            <mat-card-content><span class= "mat-h2">{{"news1" | translate}}</span>
                <span  class="setEnd">01-02-2021</span>
                <p class ="mat-h4">{{"news1-1" | translate}}</p>
            </mat-card-content>
            <mat-card-actions align ="end">  
                <button mat-raised-button color ="accent">  {{"news-button" | translate}}  </button>    
            </mat-card-actions>
            
        </div>
    </mat-card>
    <mat-card  class= "card" fxLayout = "row"  fxLayoutAlign="start start" fxLayoutGap="30px">  
        <mat-card-content > <img mat-card-image fxFlex="227px"  src="assets/Spenden.jpg"> </mat-card-content>
        <div>
            <mat-card-content><span class= "mat-h2">{{"news2" | translate}}</span>
                    <span  class="setEnd">27-01-2021</span>
                <p class ="mat-h4">{{"news2-2" | translate}}</p>
            </mat-card-content>
            <mat-card-actions align ="end">  
                <button mat-raised-button color ="accent">  {{"news-button" | translate}}  </button>    
            </mat-card-actions>
        </div>
    </mat-card>
    <mat-card  class= "card" fxLayout = "row"  fxLayoutAlign="start start" fxLayoutGap="30px">  
        <mat-card-content > <img mat-card-image fxFlex="227px"  src="assets/study.jpeg"> </mat-card-content>
        <div>
            <mat-card-content><span class= "mat-h2">{{"news4" | translate}}</span>
                    <span  class="setEnd">25-01-20121</span>
                <p class ="mat-h4">{{"news4-4" | translate}}</p>
            </mat-card-content>
            <mat-card-actions align ="end">  
                <button mat-raised-button color ="accent" >  {{"news-button" | translate}}  </button>    
            </mat-card-actions>
        </div>
    </mat-card>
    <mat-card  class= "card" fxLayout = "row"  fxLayoutAlign="start start" fxLayoutGap="30px">  
        <mat-card-content > <img mat-card-image fxFlex="227px"  src="assets/seminar.jpg"> </mat-card-content>
        <div>
            <mat-card-content><span class= "mat-h2">{{"news3" | translate}}</span>
                    <span  class="setEnd">20-01-2021</span>
                <p class ="mat-h4">{{"news3-3" | translate}}</p>
            </mat-card-content>
            <mat-card-actions align ="end">  
                <button mat-raised-button color ="accent">  {{"news-button" | translate}}  </button>    
            </mat-card-actions>
        </div>
    </mat-card>
    <mat-card  class= "card" fxLayout = "row"  fxLayoutAlign="start start" fxLayoutGap="30px">  
        <mat-card-content > <img mat-card-image fxFlex="227px"  src="assets/nurse.jpg"> </mat-card-content>
        <div>
            <mat-card-content><span class= "mat-h2">{{"news5" | translate}}</span>
                    <span  class="setEnd">18-01-2021</span>
                <p class ="mat-h4">{{"news5-5" | translate}}</p>
            </mat-card-content>
            <mat-card-actions align ="end">  
                <button mat-raised-button color ="accent" >  {{"news-button" | translate}}  </button>    
            </mat-card-actions>
        </div>
    </mat-card>

</div>